@model UtopiaCity.ViewModels.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login form</h2>

<a asp-action="Register" asp-controller="Account">Register</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-outline-dark" />
        </div>
    </div>
</form>