@model UtopiaCity.ViewModels.Business.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>WE HAVE MORE THAN @Model.CompaniesAmount COMPANIES WORKING RIGHT HERE! RIGHT NOW!</h1>
<h1>WE HAVE MORE THAN @Model.EmployeesAmount EMPLOYEES WORKING RIGHT HERE! RIGHT NOW!</h1>
<h1>WE HAVE MORE THAN @Model.VacanciesAmount VACANCIES RIGHT HERE! RIGHT NOW!</h1>

<h2> It's your opportunity! Create your own company or get a job!</h2>

<h2>All companies</h2>
<a class="nav-link text-dark" asp-controller="Company" asp-action="GetCompanies">All companies</a>
<h2>My companies</h2>
<a class="nav-link text-dark" asp-controller="Company" asp-action="GetUserCompanies" asp-route-userId="@Model">My companies</a>
<hr />
<h2>Create company</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="ApplyCompany">Create company</a>
<hr />
<h3>Vacancies</h3>